//output:../../app/profile/profile.component.html
//- .profile-header
//-   .container
//-     .row
//-       .menu
//-     .row
//-       .col-md-12
//-         .user-photo
//-           img.img-circle(src='../../assets/pictures/avatar.png')
//-     .row
//-       .col-md-12
//-         .user-info
//-           .user-name
//-             p Jude Coke
//-           .user-location
//-             i.fa.fa-map-marker
//-             span Nevada,USA
//-           .user-rating
//-             p 4.7(30 Reviews)
//- .profile-experience
//-   .experience-header
//-     .container
//-       .row     
//-         .col-md-12      
//-           .title
//-             span Professional experience 
//-             i.fa.fa-pencil-square-o
//-           .varification.pull-right
//-             p Varified
//-   .experience-body
//-     .container
//-       .row
//-         .col-md-12
//-           .experience-list
//-             .title
//-               p Work/Traineeship
//-             ul
//-               li
//-                 span Journalist
//-               li
//-                 span 5 years, 5 months
//-               li
//-                 span USA,Canada
//-               li
//-                 span Senior Editor
header
experience
personal-info
 hobbies
 skills
feedbacks
footer
//- .personal-info
//-   .container-fluid
//-     .row
//-       .col-md-6
//-         .hobbies
//-           .title
//-             span Hobbies
//-             i.fa.fa-pencil-square-o
//-           .hobbies-list
//-             ul.list-inline
//-               li
//-                 img(src="../../assets/pictures/Football.png", alt="")                
//-                 p Football                
//-               li
//-                 .vertical-bar
//-               li
//-                 img(src="../../assets/pictures/Hockey.png", alt="")                
//-                 p Hockey                
//-               li
//-                 .vertical-bar
//-               li
//-                 img(src="../../assets/pictures/Pinpong.png", alt="")                
//-                 p Pinpong                
//-               li
//-                 .vertical-bar
//-               li
//-                 img(src="../../assets/pictures/Racing.png", alt="")                                  
//-                 p Racing
//-       .col-md-6
//-         .skills 
//-           .title
//-             span Skills
//-             i.fa.fa-pencil-square-o
//-           .skills-list
//-             ul.list-inline
//-               li
//-                 img(src="../../assets/pictures/css.png", alt="")                                
//-                 p asd
//-               li
//-                 .vertical-bar
//-               li
//-                 img(src="../../assets/pictures/c++.png", alt="")                                                
//-                 p asd
//-               li
//-                 .vertical-bar
//-               li
//-                 img(src="../../assets/pictures/php.png", alt="")                                
//-                 p asd
//- .feedbacks                
//-   .feedbacks-header
//-     .container
//-       .row
//-         .col-md-12
//-           .title
//-             span Feedbacks
//-             i.fa.fa-pencil-square-o
//-   .feedbacks-list
//-     .container
//-       .row        
//-         .col-md-4      
//-           .feedback
//-             .image
//-               img(src="../../assets/pictures/Julia.png", alt="")
//-             .info
//-               p Julia Jay
//-               p Professional: 4/5
//-               p Accuracy: 4.8/5
//-               p Courtesy: 5/5
//-             .comment
//-               p I really can't think of any words that can describe this piece. All i can say is it blew my mind (in a good way) when I first saw it. I love it.. a lot :) 
//-         .col-md-4    
//-           .feedback    
//-             .image
//-               img(src="../../assets/pictures/Jor.png", alt="")
//-             .info
//-               p Connory Dew
//-               p Professional: 4/5
//-               p Accuracy: 4.8/5
//-               p Courtesy: 5/5
//-             .comment
//-               p I really can't think of any words that can describe this piece. All i can say is it blew my mind (in a good way) when I first saw it. I love it.. a lot :) 
//-         .col-md-4
//-           .feedback    
//-             .image
//-               img(src="../../assets/pictures/John.png", alt="")
//-             .info
//-               p Harrison Star
//-               p Professional: 4/5
//-               p Accuracy: 4.8/5
//-               p Courtesy: 5/5
//-             .comment
//-               p I really can't think of any words that can describe this piece. All i can say is it blew my mind (in a good way) when I first saw it. I love it.. a lot :) 
//-   .feedback-button
//-      .container
//-        .row
//-          .col-md-12
//-            .more-button
//-               button.btn 
//-                span See more
//- .footer
//-   .container
//-     .row
//-      .col-md-12
//-        .footer-header
//-          .title
//-            p Contact Jude
//-     .row
//-       .col-md-12
//-         .social-media
//-           ul.list-inline
//-             li
//-               a(href="#" id='facebook')
//-             li
//-               a(href="#" id='twitter')
//-             li
//-               a(href="#" id='instagram')
//-             li
//-               a(href="#" id='gmail')
//-             li
//-               a(href="#" id='skype')
