
<div class="profile-experience">
  <div class="experience-header">
    <div class="container">
      <div class="row">    
        <div class="col-md-12">     
          <div class="title"><span>Professional experience </span><i class="fa fa-pencil-square-o"></i></div>
          <div class="varification pull-right">
            <p>Varified</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="experience-body">
    <div class="container">
      <div *ngFor="let experience of experiences" class="row">
        <div class="col-md-12">
          <div class="experience-list">
            <div class="title">
              <p [innerHTML]="experience.description"></p>
            </div>
            <div class="company">
              <p>{{experience.company.name}}</p>
              <p>{{experience.company.utl}}</p>
              <p>{{experience.company.location.city}}, {{experience.company.location.country}}</p>
              <p>{{experience.company.photo}}</p>
              <p>{{experience.position}}</p>
              <p>{{experience.timerange.timestart | date}} - {{experience.timerange.timefinish | date}}              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>