
<div class="profile-experience">
  <div class="experience-header">
    <div class="container-fluid">
      <div class="row">    
        <div class="col-md-12">     
          <div class="title"><span>Professional experience </span><a href="">           <i class="fa fa-pencil"></i></a><a href=""><i class="fa fa-plus-circle pull-right"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="experience-body">
    <div class="container">
      <div *ngFor="let experience of experiences" class="row">
        <div class="col-md-12">
          <div class="experience-list">
            <div class="company">
              <div class="photo"><img [src]="experience.company.photo" class="img-circle"/></div><a href="experience.company.utl"> 
                <p>{{experience.company.name}}</p></a><span> <i class="fa fa-map-marker"></i></span><span> {{experience.company.location.city}}, {{experience.company.location.country}}</span>
            </div>
            <div class="position">  
              <ul class="list-inline">                      
                <li>
                  <p>{{experience.position}}      </p>
                </li>
                <li><span>{{experience.timerange.timestart | date}} - {{experience.timerange.timefinish | date}}                                 </span></li>
              </ul>
            </div>
            <div class="description">
              <p [innerHTML]="experience.description"></p>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>