
<div class="profile-experience">
  <div class="experience-header">
    <div class="container">
      <div class="row">    
        <div class="col-md-12">     
          <div class="title"><span>Professional experience </span><i class="fa fa-pencil-square-o"></i></div>
          <div class="varification pull-right">
            <p>Varified</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="experience-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="experience-list">
            <div class="title">
              <p>Work/Traineeship</p>
            </div>
            <ul>
              <li><span>Journalist</span></li>
              <li><span>5 years, 5 months</span></li>
              <li><span>USA,Canada</span></li>
              <li><span>Senior Editor</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>