
<div class="loginWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="signIn">
          <form action="#" method="method">
            <div class="formName">
              <p>sign in </p>
            </div>
            <div class="formFields">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="joetribani@gmail.com" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="email" class="form-control"/>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="checkbox"/>
                <label for="checkbox" class="checkbox-label">Stay logged In</label><span class="forgot-password">Forgot password?  </span>
              </div>
              <div class="signInButton">           
                <button class="btn"><span>Sign In</span></button>
                <p>or  </p>
              </div>
              <div class="social-networks">
                <ul class="list-inline">
                  <li><a href="#" id="facebook"> </a></li>
                  <li><a href="#" id="google-plus"></a></li>
                  <li><a href="#" id="linkedIn"></a></li>
                </ul>
                <hr/>
              </div>
              <div class="footer"><span>Don't have an account? </span><a href="#">Sign Up</a></div>
            </div>
          </form>
        </div>
        <div class="signUp">
          <form action="#" method="method">
            <div class="formName">
              <p>sign up </p>
            </div>
            <div class="formFields">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="surname">Password</label>
                <input type="type" name="surname" class="form-control"/>
              </div>
              <div class="form-group">           
                <div class="gender-checkboxes">                 
                  <label for="male-checkbox">Male                  
                    <input type="radio" name="radio1" id="male-checkbox" value="option1" checked="checked"/><i class="fa fa-circle-o"></i><i class="fa fa-dot-circle-o">                   </i>
                  </label>
                  <label for="female-checkbox">Female
                    <input type="radio" name="radio1" id="female-checkbox" value="option2"/><i class="fa fa-circle-o"></i><i class="fa fa-dot-circle-o">                   </i>
                  </label>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="joetribani@gmail.com" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="email" class="form-control"/>
              </div>
              <div class="signInButton">           
                <button class="btn"><span>Sign Up</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>