// compileCompressed:../../../app/profile/experience/experience.component.css

$font : Gadugi

.base-text
  font-family: $font
  color: white
  font-weight: bold

.profile-experience
  .experience-header
    @extend .base-text
    background-color: #02111b
    padding: 15px 0 15px 0

  .experience-body
    padding-top: 14px
    background-color: white

  .experience-header .title
    font-size: 29px
    display: inline-block

  .experience-header .title
    font-size: 29px

  .experience-header .varification
    margin-top: 9px
    text-align: center
    font-size: 15px
    display: inline-block
    width: 153px
    height: 30px
    border: 2px solid transparent
    background-color: #74c590
    border-radius: 22px

  .experience-list
    font-size: 15px
