//output:../../../app/profile/experience/experience.component.html

.profile-experience
  .experience-header
    .container-fluid
      .row     
        .col-md-12      
          .title
            span Professional experience 
            a(href="")            
              i.fa.fa-pencil
            a(href="")
              i.fa.fa-plus-circle.pull-right
  .experience-body
    .container
      .row(*ngFor = 'let experience of experiences')
        .col-md-12
          .experience-list
            .company
              .photo
                img.img-circle([src]='experience.company.photo')              
              a(href='experience.company.utl') 
                p{{experience.company.name}}
              span 
                i.fa.fa-map-marker
              span  {{experience.company.location.city}}, {{experience.company.location.country}}
            .position   
              ul.list-inline                       
                li
                  p {{experience.position}}      
                li
                  span {{experience.timerange.timestart | date}} - {{experience.timerange.timefinish | date}}                                 
            .description
              p([innerHTML]='experience.description')
          hr          
