//output:../../../app/profile/experience/experience.component.html

.profile-experience
  .experience-header
    .container
      .row     
        .col-md-12      
          .title
            span Professional experience 
            i.fa.fa-pencil-square-o
          .varification.pull-right
            p Varified
  .experience-body
    .container
      .row
        .col-md-12
          .experience-list
            .title
              p Work/Traineeship
            ul
              li
                span Journalist
              li
                span 5 years, 5 months
              li
                span USA,Canada
              li
                span Senior Editor
