//output:../../../app/profile/feedbacks/feedbacks.component.html

.feedbacks                
  .feedbacks-header
    .container-fluid
      .row
        .col-md-12
          .title
            span Feedbacks    
            a(href="")                    
              i.fa.fa-pencil
            a(href="")
              i.fa.fa-plus-circle.pull-right
  .feedbacks-list
    .container-fluid
      .row        
        .col-md-4(*ngFor='let feedback of feedbacks')
          .feedback
            .image
              img.img-circle([src]='feedback.photo')
            .info
              p {{feedback.forename}} {{feedback.surname}}
              .rates
                .marks(*ngFor='let mark of feedback.marks')
                  ul.list-inline
                   li
                    p{{mark.characteristic}}: 
                   li                    
                    .progress
                      .progress-bar.progress-bar-info([ratingBar]='mark.value', role='progressbar')                                
            .comment
              p {{feedback.text}}    
  .feedback-button
     .container
       .row
         .col-md-12
           .more-button
              button.btn 
               span See more
