//output:../../../app/profile/footer/footer.component.html

.footer
  .container
    .row
     .col-md-12
       .footer-header
         .title
           p Contact Jude
    .row
      .col-md-12
        .social-media
          ul.list-inline
            li
              a(href="#" id='facebook')
            li
              a(href="#" id='twitter')
            li
              a(href="#" id='instagram')
            li
              a(href="#" id='gmail')
            li
              a(href="#" id='skype')
