//output:../../../app/profile/personalInfo/personalInfo.component.html
.personal-info
  .container-fluid
    .row
      hobbies
      skills
      //- .col-md-6
      //-   .hobbies
      //-     .title
      //-       span Hobbies
      //-       i.fa.fa-pencil-square-o
      //-     .hobbies-list
      //-       ul.list-inline
      //-         li
      //-           img(src="../../../assets/pictures/Football.png", alt="")                
      //-           p Football                
      //-         li
      //-           .vertical-bar
      //-         li
      //-           img(src="../../../assets/pictures/Hockey.png", alt="")                
      //-           p Hockey                
      //-         li
      //-           .vertical-bar
      //-         li
      //-           img(src="../../../assets/pictures/Pinpong.png", alt="")                
      //-           p Pinpong                
      //-         li
      //-           .vertical-bar
      //-         li
      //-           img(src="../../../assets/pictures/Racing.png", alt="")                                  
      //-           p Racing
      //- .col-md-6
      //-   .skills 
      //-     .title
      //-       span Skills
      //-       i.fa.fa-pencil-square-o
      //-     .skills-list
      //-       ul.list-inline
      //-         li
      //-           img(src="../../../assets/pictures/css.png", alt="")                                
      //-           p asd
      //-         li
      //-           .vertical-bar
      //-         li
      //-           img(src="../../../assets/pictures/c++.png", alt="")                                                
      //-           p asd
      //-         li
      //-           .vertical-bar
      //-         li
      //-           img(src="../../../assets/pictures/php.png", alt="")                                
      //-           p asd
