
<div class="col-md-6">
  <div class="row">   
    <div class="col-md-12">     
      <div class="hobbies">       
        <div class="title"><span>Hobbies </span><a href="">                <i class="fa fa-pencil"></i></a><a href=""><i class="fa fa-plus-circle pull-right"></i></a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="hobbies-list">
        <ul class="list-inline">
          <li *ngFor="let hobby of hobbies"><img [src]="hobby.image" alt=""/>
            <p>{{hobby.name}}                        </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>