//output:../../../../app/profile/personalInfo/hobbies/hobbies.component.html

.col-md-6
  .hobbies
    .title
      span Hobbies
      i.fa.fa-pencil-square-o
    .hobbies-list
      ul.list-inline
        li(*ngFor='let hobby of hobbies')
          img([src]="hobby.image", alt="")                
          p {{hobby.name}}                        
