//output:../../../../app/profile/personalInfo/skills/skills.component.html

.col-md-6
  .skills 
    .title
      span Skills
      i.fa.fa-pencil-square-o
    .skills-list
      ul.list-inline
        li
          img(src="../../../../assets/pictures/css.png", alt="")                                
          p asd
        li
          .vertical-bar
        li
          img(src="../../../../assets/pictures/c++.png", alt="")                                                
          p asd
        li
          .vertical-bar
        li
          img(src="../../../../assets/pictures/php.png", alt="")                                
          p asd
