
<div class="feedbacks">               
  <div class="feedbacks-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title"><span>Feedbacks</span><i class="fa fa-pencil-square-o"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback-button">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-button">
            <button class="btn"> <span>See more</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>